@import '../../style.scss';

.subscription {
    background: var(--hotmart-secondary-lighter);
    color: var(--hotmart-secondary-dark);
    padding: 2em;

    .subscription__container {
        padding: 2em 0;

        @media(min-width: $hotmart-screen-desktop) {
            padding: 4em 0; 
        }

        .subscription__form {
            display: grid;
            grid-gap: 10px;
            margin-top: 20px;

            @media(min-width: $hotmart-screen-tablet) {
                max-width: 90%;
                margin-right: auto;
                margin-left: auto;
            }

            .subscription__form-group {
                display: grid;
                grid-gap: 20px;

                @media(min-width: $hotmart-screen-tablet) {
                    grid-template-columns: 1fr 1fr;
                    margin-top: 3em;

                    & > div:nth-child(3){
                        grid-column: 1 / 3;
                    }
                }
             
                .subscription__form-control {
                    display: grid;

                    @media(min-width: $hotmart-screen-tablet){
                        margin-top: 2em;
                    }

                    .form-control__input {
                        height: 40px;
                        border: 1px solid var(--hotmart-secondary-dark);
                        text-indent: 10px;

                        &:focus {
                            outline: none;
                            border: 1px solid var(--hotmart-primary-light);
                        }
                    }

                    .form-control__message {
                        color: var(--hotmart-primary-light);
                    }
                }

            }

            .form-control-checkbox {
                margin-top: 1em;

                @media(min-width: $hotmart-screen-tablet){
                    margin-top: 2em;
                }
            }

            .subscription__form-submit {
                margin-top: 1em;
                text-align: center;

                @media(min-width: $hotmart-screen-tablet){
                    margin-top: 2em;
                }
            }

        }
    }
}