
@import '../../../variables.scss';

.article__info {
    @media(min-width: $hotmart-screen-desktop) {
        display: flex;
        justify-content: space-between;

        &.article-column {
            flex-direction: row;

            & > div:last-child {
                align-self: flex-end;
                padding-left: 10px;
            }
        }

        &.article-row {
            flex-direction: column;

            & > div:first-child {
                width: 75%;
            }

            & > div:nth-child(2) {
                width: 45%;
            }
        }

        &.medium {
            height: 300px;
        }

        &.large {
            height: 400px;
        }

        & > div {
            flex: 1;
        }
    }

    & > div:first-child{
        font-family: 'Nunito', sans-serif;
        font-size: 2em;
        font-style: italic;
        font-weight: 800;
        line-height: 1.1em;

        @media(min-width: $hotmart-screen-tablet) {
            font-size: 3.8em;
            padding: 2px;
        }

        @media(min-width: $hotmart-screen-medium) {
            font-size: 4.2em;
        }
    }

    & > div:last-child {
        margin-top: 1em;
    }
}