$hotmart-screen-tablet: 768px;
$hotmart-screen-desktop: 1024px;
$hotmart-screen-medium: 1280px;
$hotmart-screen-larger: 1440px;
$text-size-underline: 36px;
$text-color-underline: rgba(254, 154, 78, 0.9) 52%, var(--hotmart-primary-light);
